@{
    ViewBag.Title = "Kodu";
}
<h1>Tallinna Tööstushariduskeskus</h1>
<div class="row">
    <div class="col-md-4">
        <h2>
            Noorem tarkvaraarendaja
        </h2>
        <p>
            Noorem tarkvaraarendaja põhitegevuseks on uute tarkvarade ja veebilahenduste loomine, testimine ning dokumenteerimine. Ta tegeleb tarkvara analüüsi, disaini, programmeerimise, testimise ja juurutamisega. Noorem tarkvaraarendaja töö eeldab analüütilist ja loovat tehnilist mõtlemist, pidevat kutsealast enesetäiendamist ning head meeskonnatöö oskust.
        </p>
        <p><a class="btn btn-default" href="https://www.tthk.ee/opetatavad_erialad/noorem-tarkvaraarendaja/">Lisateavet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Logistika IT-süsteemide nooremspetsialist
        </h2>
        <p>Logistika IT-süsteemide nooremspetsialistid loovad, arendavad ja haldavad arvutivõrke, telekommunikatsioonisüsteeme, veebirakendusi, andmebaase, elektronmeediat jms. Logistika IT-süsteemide nooremspetsialisti põhilisteks ülesandeks on logistika infosüsteemide omavahel liidestatud ehk ühendatud tark- ja riistvara lahenduste: analüüs, disain, arendus ning haldus. Logistika IT-süsteemide nooremspetsialist täidab logistika valdkonna ettevõttes infotehnoloogiliste tugisüsteemide paigaldamise, hooldamise ja käitamisega seotud tööülesandeid.</p>
        <p><a class="btn btn-default" href="https://www.tthk.ee/opetatavad_erialad/logistika-it-susteemide-nooremspetsialist/">Lisateavet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Tööstusinformaatik
        </h2>
        <p>Tööstusinformaatikud loovad, arendavad ja haldavad arvutivõrke kui ka tööstusvõrke, telekommunikatsioonisüsteeme, andmebaase, tootmissüsteemide seadistamist ja programmeerimist, kasutusele võtmist ja testimist, jms. Tööstusinformaatik täidab erinevates ettevõtetes infotehnoloogilisi tugisüsteeme paigaldamise, hooldamise ja käitamisega seotud tööülesandeid.</p>
        <p><a class="btn btn-default" href="https://www.tthk.ee/opetatavad_erialad/toostusinformaatik/">Lisateavet &raquo;</a></p>
    </div>
</div>